*{
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.diop{
    display: flex;
    list-style: none;
    
}
.de{
    margin: 10px
}
a{
    text-decoration: none;
}
img{
    width: 100px;
    left: 50px;
}
.button{
    width: 100;
height: 32;
angle: 0 deg;
opacity: 1;
top: 47px;
left: 1000px;
border-radius: 5px;
padding-top: 10px;
padding-right: 37px;
padding-bottom: 15px;
padding-left: 37px;
gap: 5px;
background: linear-gradient(90deg, #FF6600 0%, #42210B 100%);


   
}
.div1{
    background-color: #FF6600;
    color: white;
    text-align: center;
    width: 600px;
    height: 200px;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
}
.main{
    align-items: center;
  background: #FFFFFF1A;
    border-radius: 7px;
    width: 500px;
    padding: 7px;
    flex-direction: column;
}
.machine{
font-size: 40px;
}
h1{
    font-size: 20px;
}
.b{
    border-style: solid;
    font-size: 25px;
    border: 0.5px solid #FF6600;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.img{
    width: 400px;
    height: 250px;
padding-right: 150px;
padding-bottom: 10px;
background-image: url(4fa769628d7ca90d12c694c33f7578899978779e.png);
   
}
.ba{
    color: orange;
}
.sow{
    background-color: #42210B;
    color: white;
}
.jours{
    background-color: #42210B;
    padding-bottom: 2px;
}
.src{
    display: flex;
    justify-content: space-around;
}
.image{
    width: 300px;
    height: 250px;
padding-right: 150px;
padding-bottom: 10px;
background-image: url(4fa769628d7ca90d12c694c33f7578899978779e.png);
}
.face{
    padding: 10px;
    margin: 20px;
}
.a{
 border-style: solid;
  border: 0.5px solid #FF6600;
    margin: 5px;
    padding: 5px; 
 font-size: 25px; 
 border-radius: 4px;
}
.mesure{
 flex-direction: column;
 background-color: #42210B;
 color: white;
 width: 400px;
    padding: 7px;
    margin: auto;
    border-radius: 10px;
}
.click{
    text-align: center;
    background-color: #FF6600;
    color: white;
    text-align: center;
    width: 700px;
    height: 200px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}
.boy{
    width: 100px;
}
.class{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.alg{
    height: 100%;
    width: 85px;
}
.moi{
   width: 1002;
height: 327;
angle: 0 deg;
opacity: 1;
top: 220px;
left: 249px;
border-radius: 12px;
padding-top: 24px;
padding-right: 51px;
padding-bottom: 24px;
padding-left: 51px;
gap: 10px;

}
.un{
    margin: 5px;
    padding-right: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: #FF6600;

   

}
.votre{
    background-color: white;
    color: black;
    border-style: 0px;
    background: #FF660008;

}
.audit{
    background-color: white;
}
.clas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.c{
    background-color: antiquewhite;
    border-radius: 20px;
    border-radius: 2px solid black;
    padding: 30px;
    
}
.e{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 30px;
}
.d{
    color: #FF6600;
    font-size: 20px;  
}
.fram10{
    width: 340px;
    height: 0;
    border: 0.5px solid rgba(44, 44, 44, 1);
}
.malick{
    
}
.des{
  width: 500px;
  font-size: 20px;
  
}
.h{
    display: flex;
    text-align: center;
    background-color: #FF6600;
   justify-content: space-between;
   margin: 50px;
   padding: 50px;
  text-align: center;
  width: 1728;
height: 450;
angle: 0 deg;
opacity: 1;
top: 3819px;

  
 }
 .g{
    background-color: #FF6600;
    padding: 1px;
    padding-left: 10px;
    color: white;
    margin: 15px;
    height: 25px;
    width: 50px;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    border-radius: 15px;
 }
 .ca{
   
 }
 .f{
    background-color: white;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 10px;
    
 }
 .s{
    color: #FF6600;
    width: 1270px;
 }
 .tout{
    display: flex;
    justify-content: space-between;
    background: rgba(215, 207, 191, 0.592);
    padding: 50px;
    border-radius: 15px;
 }
 h4{
    color: #FF6600;
    font-size: 15px;
 }
 .offres{
    flex-direction: column;
 }
 .équipe{
    display: flex;
    justify-content: space-between;
 }
 .png{
    width: 100px;
    padding-right: 200px;
 }
 .lorem{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    
 }
 .dolor{
    background-color: rgba(250, 235, 215, 0.76);
    border-radius: 10px ;
    padding: 15px;
    margin: 20px;
    margin-bottom: 10px;
 }
 .sec{
    color: #FF6600;
    font-size: 10px;
 }
 .sit{
    background-color: #FF6600;
    border-radius: 3px;
    padding-top: 5px;
 }
 footer{
    background-color: #FF6600;
 }
 section{
    display: flex;
    justify-content: space-between;
 }
 .icone{
    
 }
 input{
    display: flex;
    margin: 7px;
 }
 h6{
    text-align: center;
 }
 